global
  log stdout format raw local0
  maxconn 50000

defaults
  log global
  mode tcp
  option tcplog
  option tcp-check
  timeout connect 5s
  timeout client 1m
  timeout server 1m

frontend rke2_registration
  bind *:9345
  default_backend rke2_registration_servers

backend rke2_registration_servers
  balance roundrobin
  server rke2-server-1 192.0.2.11:9345 check
  server rke2-server-2 192.0.2.12:9345 check
  server rke2-server-3 192.0.2.13:9345 check

frontend kubernetes_api
  bind *:6443
  default_backend kubernetes_api_servers

backend kubernetes_api_servers
  balance roundrobin
  server rke2-server-1 192.0.2.11:6443 check
  server rke2-server-2 192.0.2.12:6443 check
  server rke2-server-3 192.0.2.13:6443 check
